
.navbar{
    border-radius: 0.5em;
   
}
.main{
    margin: 40px 0px 20px 0px;
    border-radius: 0.5em;
    background-color: white;
    position: absolute;
    right: 0;
    top:50px;
    left:0;
    padding-left: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    padding: 20px;
}