
.img-responsive{
    position: absolute;
    left: 0;
    box-shadow: none;
    border-style: none;
    margin-top: 80px;
    width:700px;
    margin-left:30px
}
.body{
    min-width: 100%;
    height: 100vh;
    background-color: #caefff;
}
.body img{
    filter: none;
}
.home-text{

   height: 300px;
   width: 500px;
   float: right;
   margin-right: 40px;
   margin-top: 70px;
}
.home-text h1{
    margin-top: -10px;
    margin-bottom: 30px;
}
.home-text .btn{
    background-color: #F9547F;
    border-color: #F9547F;
    border-radius: 25px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}
.img-2{

    width: 700px;
    position: absolute;
    right: 00;
    margin-top: 400px;
}
.quote{
    position: absolute;

    width: 450px;
    margin-left: 130px;
    margin-top: 30px;
}
.quote-div{
    background-color: #caefff;
    position: absolute;
    bottom: 0;
    margin-bottom: -300px;
    width: 570px;
    height: 300px;
    
}
.footer{
    background-color: #142666;
    height: 90px;
    width: auto;
    position: relative;
    margin-top: 300px;
    color: white;
}